<p-card styleClass="card-adjust" header="{{editando ? 'Edição de' : 'Cadastro de'}} Alunos">
  <!-- Botão Voltar -->
  <div class="flex flex-wrap col-12">
    <button pButton type="button" class="p-button p-button-rounded" icon="pi pi-caret-left"
      routerLink="/alunos"></button>
  </div>

  <form #form="ngForm" autocomplete="off" (ngSubmit)="salvar(form)">
    <div class="flex flex-column align-items-center gap-3">

      <!-- Campo Descrição -->
      <div class="w-full md:w-30rem">
        <label for="Aluno">Nome do aluno</label>
        <input id="aluno" pInputText name="Nome do aluno" #nome="ngModel" [(ngModel)]="aluno.nome" type="text"
          minlength="5" required class="w-full" />
        <app-message [control]="nome" error="required" text="Informe o nome do aluno"></app-message>
        <app-message [control]="nome" error="minlength"
          text="Mínimo de {{ nome.errors?.minlength?.requiredLength }} caracteres"></app-message>
      </div>

      <!-- Switch Status -->
      <div>
        <p-inputSwitch [ngModelOptions]="{standalone: true}" binary="true" [(ngModel)]="aluno.status"
          name="status"></p-inputSwitch>
      </div>

      <!-- Botão Salvar -->
      <div class="col-12 md:col-6 lg:col-3">
        <button pButton type="submit" icon="pi pi-save" label="Salvar" class="p-button-rounded p-button-success w-full"
          [disabled]="form.invalid || salvando">
        </button>
      </div>
    </div>

    <!-- Spinner de carregamento -->
    <div *ngIf="salvando" class="flex flex-column align-items-center mt-4">
      <p-progressSpinner [style]="{ width: '50px', height: '50px' }" styleClass="custom-spinner" strokeWidth="5"
        animationDuration=".5s"></p-progressSpinner>
      <h6 class="mt-2">Salvando, aguarde...</h6>
    </div>
  </form>
</p-card>